* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #212121;
  --gray: #646464;
  --brown: rgba(202, 168, 146, 1);
  --green: #37806b;
  --shadow: #00000024;
  --light-gray: rgba(238, 238, 238, 1);
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 1346px;
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-right: 50px;
  gap: 64px;
  margin-bottom: 65px;
}

.logo-img {
  width: 151px;
  height: 47px;
}

.active {
  color: var(--gray);
}

a {
  color: var(--dark);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(19, 14, 32);
}

.header-btn {
  display: inline-block;
  background-color: var(--brown);
  border-radius: 15px 0 15px 0;
  color: #fff;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;
  padding: 7px 19px;
}

.left-side {
  display: flex;
  gap: 64px;
}

/* ---------------------------section 1------------------------------------ */
.design {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 100px;
}

.design:nth-child(2) img {
  width: 751px;
  height: 659px;
}

.design div:first-of-type {
  width: 606px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
}

.create-design p:last-child {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray);
}

.create-design h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 4.6rem;
  letter-spacing: 0em;
  text-align: left;
  color: var(--dark);
  margin-bottom: 15px;
}

.create-design:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray);
  margin-bottom: 15px;
}

.contact-btn {
  margin-top: 35px;
  background-color: var(--green);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: left;
  padding: 13px 35px;
  border-radius: 20px 0 20px 0;
  border: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.contact-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/*-------------------------------- section 2----------------------------------------------- */
.service p:first-child {
  font-family: "Poppins", sans-serif;
  color: var(--gray);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
}

.service h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 500;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
}

.box-container {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.box {
  display: flex;
  padding: 35px 25px 20px 35px;
  gap: 10px;
  border-radius: 60px 0 60px 0;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
}

.box-container .box:nth-child(2) {
  background-color: var(--brown);
  color: #fff;
}

.box p {
  width: 307px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
}

.box img {
  width: 40px;
  height: 40px;
}

.sign-up-page {
  margin: auto;
  width: 772px;
  margin-top: 200px;
}
.sign-up-page h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-align: left;
}
.sign-up-page hr {
  border: 1px solid rgb(196, 196, 196);
  width: 461px;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 35px;
}
.sign-up-page p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.sign-up-page div {
  display: flex;
  gap: 0;
  width: 772px;
  justify-content: flex-start;
  margin-bottom: 150px;
}
.sign-up-page div input {
  border: none;
  border-radius: 20px 0 0 0;
  background-color: var(--light-gray);
  padding-left: 27px;
  font-size: 18px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  width: 592px;
}
.sign-up-page div a {
  font-size: 18px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
  background-color: var(--green);
  width: 180px;
  color: #fff;
  border-radius: 0 20px 0 0;
}

footer {
  background-color: rgb(248, 248, 248);
  padding-top: 93px;
}
footer .ftr-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 69px;
}
footer .ftr-top .ftr-links:first-child .text {
  width: 350px;
}
footer .ftr-top .ftr-links:nth-child(2) {
  margin-right: 101px;
}
footer .ftr-top .ftr-links:nth-child(3) {
  margin-right: 101px;
}
footer .ftr-links li,
footer a {
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray);
}
footer .ftr-links li:first-child a {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
footer .ftr-link ul li:first-child a {
  color: var(--dark);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 11px;
}
footer .bottom-part {
  padding-block: 15px;
  display: flex;
  justify-content: center;
}
footer .bottom-part .copyright {
  margin-block: 15px;
  color: var(--gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  nav {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .design {
    flex-wrap: wrap;
  }
  .box-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .header-container {
    gap: 0;
  }
  html {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */